*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.fullbody{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #525FE1;
}

.calculatorBody{
    border: 2px solid black;
    height: 37rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    background-color: #212121;
}

.upperSection{
    height: 25%;
    /*border-bottom: 2px solid black;*/
    display: flex;
    padding: 1rem;
    padding-top: 1.6rem;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    background-color: #514b42;
    border-radius: 15px;
}

.display1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0.8rem 0.5rem 0;
    font-size: 1.6rem;
    color: white;
}
#display2{
    display: none;
    color: #30c4ff;
}

.lowerSection{
    padding: 0.9rem;
    height: 75%;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
    
}
.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50px;
    width: 4.8rem;
    height: 4.8rem; 
    background-color: #b99661;  
}

.operatorK:hover{
    background-color: rgb(164, 175, 196);
    height: 4.75rem;
    width: 4.75rem;
}
.specialK:hover{
    background-color: #ee5650;
    height: 4.75rem;
    width: 4.75rem;
}
.numK:hover{
    background-color: #63ebe4;
    height: 4.75rem;
    width: 4.75rem;
}
.equalsK:hover{
    background-color: #6aec8d;
    height: 4.75rem;
    width: 4.75rem;
}

.point:hover{
    background-color: #beff45;
}

#equalsKey{
    width: 10rem;
    
}












